<html>

<head>
    <style>
        {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 50%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="column" style="background-color:#f7f4f2;">
        <p>
        <h2>Invalid ID entered. Please enter a valid claim id number from the adjacent list (Eg. 1, 2 ..) or a new claim text at least 20 characters long.): </h2>
        {% from "_formhelpers.html" import render_field %}

        <form method=post action="/results">
            <dl>
                {{ render_field(form.claimsubmit, cols='50', rows='3') }}
            </dl>
            <div>
                <input style="background-color:Lightgreen;" type=submit value='Submit id or claim'
                name='submit_btn'>
            </div>
        </form>

        <h4 style="background-color:thistle;"> Disclaimer: This API is for research illustration purposes only and offers no
            guarantees!</h4>
        <img src="{{url_for('static', filename='pacepa.png')}}" height="250" width="600"/>

            </p>
        </div>

        <div class="column" style="background-color:#fafcfb;">
            <h3 style = "text-align:center">Cached Claims (and their IDs) for Fast Scoring</h3>
            <p>
            <img src="{{url_for('static', filename='claims-final.png')}}" height="600" width="650"/>
            </p>
        </div>