<!doctype html>
<html>
    <head>
        <title>Multilingual Evidence Retrieval and Fact Verification</title>
            <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
            <link rel="shortcut icon" href="#">
    </head>
    <body>
        <h2>Please enter a claim id number from the adjacent list for fast retrieval or a claim in English. If you entered a new claim, please wait for 1-3 minutes for the end-to-end system to run. If you entered and unkown ID, please enter a valid ID or a new claim.): </h2>
        {% from "_formhelpers.html" import render_field %}

        <form method=post action="/results">
            <dl>
                {{ render_field(form.claimsubmit, cols='50', rows='3') }}
            </dl>
            <div>
                <input style="background-color:Lightgreen;" type=submit value='Submit id or claim'
                name='submit_btn'>
            </div>
        </form>

        <h4 style="background-color:thistle;"> Disclaimer: This API is for research illustration purposes only and offers no
            guarantees!</h4>
        <img src="{{url_for('static', filename='pacepa.png')}}" height="250" width="600"/>
    </body>
</html>